.livingstyleguide {
  @extend %lsg--reset;
  background: $lsg--background-color;
  display: block;
}

.lsg--container {
  @extend %lsg--reset;
  display: block;
  min-height: 50vh;
}

.lsg--footer {
  @extend %lsg--reset;
  display: block;
  margin: (4 * $lsg--gap-width) auto;
  max-width: $lsg--width;
}

.lsg--logo {
  $logo-size: floor($lsg--sub-headline-font-size / 3) * 9;
  @extend %lsg--reset;
  color: transparent;
  display: block;
  height: $logo-size * 2;
  font-size: 0;
  line-height: $logo-size * 2;
  margin: auto;
  position: relative;
  text-align: center;
  transition: all 0.1s linear;
  width: $logo-size * 6;
  z-index: 2;

  &:hover {
    color: $lsg--color;
  }

  &::after {
    color: transparent;
    content: "Made with The LivingStyleGuide Gem";
    font-size: $lsg--sub-headline-font-size;
    transform: scale(0.5);
    transition: inherit;
    white-space: nowrap;
  }

  &:hover::after {
    color: $lsg--color;
    transform: scale(1);
  }

  &::before {
    $unit: $logo-size / 9;
    $position-a: $unit;
    $position-b: 5 * $unit;
    background:
      linear-gradient(to top, $lsg--background-color, $lsg--background-color),
      linear-gradient(to top, $lsg--background-color, $lsg--background-color),
      linear-gradient(to top, $lsg--background-color, $lsg--background-color),
      linear-gradient(to top, $lsg--background-color, $lsg--background-color),
      $lsg--color;
    background-position:
      $position-a $position-a,
      $position-a $position-b,
      $position-b $position-a,
      $position-b $position-b;
    background-repeat: no-repeat;
    background-size: 3 * $unit;
    content: "";
    height: $logo-size;
    left: 50%;
    margin: $logo-size / -2;
    position: absolute;
    transition: inherit;
    transform: rotate(45deg);
    top: 50%;
    width: $logo-size;
    z-index: -1;
  }

  &:hover::before {
    $overlap: 0;
    $position-a: -$overlap;
    $position-b: $logo-size / 2 - $overlap;
    background-color: transparent;
    background-position:
      $position-a $position-a,
      $position-a $position-b,
      $position-b $position-a,
      $position-b $position-b;
    background-size: $logo-size / 2 + 2 * $overlap;
  }
}
